<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>An Error Occurred: {{ status_text }}</title>
        <link href="/assets/css/bundled.css" type="text/css" rel="stylesheet" media="screen" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Oops! An Error Occurred</h1>
                <p class="lead">The server returned a "{{ status_code }} {{ status_text }}".</p>
            </div>
        </div>
    </body>
</html>
