<form class="navbar-form navbar-right" action="{{ url('search_search_index') }}" method="get">
    <input name="q" type="text" class="form-control col-lg-8" placeholder="{{ 'search'|trans }}" style="margin-top: 7px; height: 30px;">
</form>
