{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    {% if app.request.locale == 'en' %}

        <div class="body-content">
            <h1>Symfony Application <small>by Endroid</small></h1>
            <hr />
        </div>

        <div id="features" class="body-content">
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">REST API</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/FriendsOfSymfony/FOSRestBundle">FOSRestBundle</a> provides a <a href="{{ path('nelmio_api_doc_index') }}">REST API</a> for external access to your application resources.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">API Documentation Generator</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/nelmio/NelmioApiDocBundle">NelmioApiDocBundle</a> generates <a href="{{ path('nelmio_api_doc_index') }}">documentation</a> for your REST API from annotations.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">OAuth 2.0 Server</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/FriendsOfSymfony/FOSOAuthServerBundle">FOSOAuthServerBundle</a> allows clients to securely access restricted areas like an API.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sonata Admin Generator</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/sonata-project/SonataAdminBundle">Sonata Admin</a> allows you to quickly generate an <a href="{{ path('sonata_admin_dashboard') }}">admin section</a> to manage your content.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Google OpenID</h3>
                        </div>
                        <div class="panel-body">
                            Google OpenID is implemented and enabled by default for Sonata Admin using <a href="https://github.com/formapro/FpOpenIdBundle">FpOpenIdBundle</a>.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">TinyMCE</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/stfalcon/TinymceBundle">TinymceBundle</a> integrates <a href="http://www.tinymce.com/">TinyMCE</a> to enable rich content editing.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Twitter Bootstrap</h3>
                        </div>
                        <div class="panel-body">
                            <a href="http://getbootstrap.com/">Twitter Bootstrap</a> provides a HTML, CSS and JS framework. <a href="http://bootswatch.com/">Bootswatch</a> themes are included.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Bower and Grunt support</h3>
                        </div>
                        <div class="panel-body">
                            Front end packages can be managed using <a href="http://bower.io/">Bower</a> and combined and minified using <a href="http://gruntjs.com/">Grunt</a>.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Google Analytics</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/endroid/EndroidGoogleAnalyticsBundle">EndroidGoogleAnalyticsBundle</a> integrates Google Analytics via configuration and Twig includes.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Behat</h3>
                        </div>
                        <div class="panel-body">
                            <a href="http://behat.org/">Behat</a> enables behaviour driven development through human-readable feature descriptions.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">PHPUnit</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://phpunit.de/">PHPUnit</a> provides a testing framework for writing both functional and unit tests.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Continuous Integration</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://travis-ci.org/endroid/symfony-application">Travis CI</a> and <a href="https://scrutinizer-ci.com/">Scrutinizer</a> help spotting issues when pushing new features.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">ElasticSearch</h3>
                        </div>
                        <div class="panel-body">
                            <a href="http://www.elasticsearch.org/">Elasticsearch</a> is a scalable full-text search engine which operates through a RESTful web interface.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">PDF Generation</h3>
                        </div>
                        <div class="panel-body">
                            The <a href="https://github.com/wkhtmltopdf/wkhtmltopdf">wkhtmltopdf</a> and library enables rendering of HTML into PDF using the QT WebKit engine.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Excel and Word support</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/PHPOffice/PHPExcel">PHPExcel</a> and <a href="https://github.com/PHPOffice/PHPWord">PHPWord</a> add support for reading and writing spreadsheets and documents.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">OAuth 2.0 Client</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/hwi/HWIOAuthBundle">HWIOAuthBundle</a> adds support for authentication and supports many providers.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Redis Client</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/snc/SncRedisBundle">SncRedisBundle</a> and <a href="https://github.com/nrk/predis">Predis</a> allow to connect to the blazingly fast <a href="http://redis.io/">Redis</a> key-value store.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title">Form Generator</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/netvlies/NetvliesFormBundle">NetvliesFormBundle</a> for Sonata Admin provides a UI for administrators to create basic forms.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h3 class="panel-title">Inline Content Editing</h3>
                        </div>
                        <div class="panel-body">
                            <a href="https://github.com/symfony-cmf/CreateBundle">CreateBundle</a> integrates <a href="http://createjs.org/">Create.js</a> to enable inline content editing for your application.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Site Map Generator</h3>
                        </div>
                        <div class="panel-body">
                            Provides an XML and HTML site map based on the available menu structure.
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% elseif app.request.locale == 'nl' %}

        <div class="body-content">
            <h1>Symfony Application <small>by Endroid</small></h1>
        </div>

    {% endif %}

{% endblock %}
