parameters:

    database_driver:            pdo_mysql
    database_host:              127.0.0.1
    database_port:              ~
    database_name:              application
    database_user:              root
    database_password:          ~

    mailer_transport:           smtp
    mailer_host:                127.0.0.1
    mailer_user:                ~
    mailer_password:            ~
    mailer_auth_mode:           ~
    mailer_port:                ~

    locale:                     en
    locales:                    [en, fr, de, nl]
    secret:                     ThisTokenIsNotSoSecretChangeIt

    wkhtmltopdf_path:           /usr/local/bin/wkhtmltopdf
    wkhtmltoimage_path:         /usr/local/bin/wkhtmltoimage
    google_analytics_trackers:  ~
    google_oauth_client_id:     client_id
    google_oauth_client_secret: client_secret
    user_whitelist:             ~
    search_index:               default
    redis_prefix:               ~
    session_save_path:          /tmp/sessions
