<!DOCTYPE html>
<html>
<head>
    {% include('EndroidPdfBundle:Pdf:css.html.twig') %}
    {% include('EndroidPdfBundle:Pdf:js.html.twig') %}
</head>
<body class="header" onload="subst();">
    <h1 class="section"></h1>
</body>
</html>
